{% extends 'base.html' %}
{% block title %} Update {% endblock title %}
{% block body %}

<div class="container my-3">
    <h2>Update ToDos</h2>
    <form action="/update/{{todo.sno}}" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">ToDo Title</label>
            <input type="text" class="form-control" name="title" id="title" value="{{todo.title}}"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">ToDo Description</label>
            <input type="text" class="form-control" name="desc" id="desc" value="{{todo.desc}}">
        </div>
        <button type="submit" class="btn btn-dark" href="index.html">Go Back</button>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

</div>
{% endblock body %}